/*FONTS*/
@font-face {font-family:"NeogreyRegular";
    src:url("fonts/NeogreyRegular.eot?") format("eot"),
    url("fonts/NeogreyRegular.woff") format("woff"),
    url("fonts/NeogreyRegular.ttf") format("truetype"),
    url("fonts/NeogreyRegular.svg#NeogreyRegular") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"NeogreyMedium";
    src:url("fonts/NeogreyMedium.eot?") format("eot"),
        url("fonts/NeogreyMedium.woff") format("woff"),
        url("fonts/NeogreyMedium.ttf") format("truetype"),
        url("fonts/NeogreyMedium.svg#Neogrey-Medium") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"NeuropoliticalRg-Regular";
    src:url("fonts/neuropolitical_rg.eot?") format("eot"),
    url("fonts/neuropolitical_rg.woff") format("woff"),
    url("fonts/neuropolitical_rg.ttf") format("truetype"),
    url("fonts/neuropolitical_rg.svg#NeuropoliticalRg-Regular") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'windows_objectregular';
    src: url('fonts/windows_object-webfont.eot');
    src: url('fonts/windows_object-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/windows_object-webfont.woff') format('woff'),
         url('fonts/windows_object-webfont.ttf') format('truetype'),
         url('fonts/windows_object-webfont.svg#windows_objectregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLTStdLight';
    src: url('fonts/helveticaltstd-light.eot');
    src: url('fonts/helveticaltstd-light.eot') format('embedded-opentype'),
         url('fonts/helveticaltstd-light.woff') format('woff'),
         url('fonts/helveticaltstd-light.ttf') format('truetype'),
         url('fonts/helveticaltstd-light.svg#HelveticaLTStdLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ui-mobile, .ui-mobile body {height: 100%;}
.ui-header, .ui-footer{border-width: 0;border-style: none}
.ui-footer-fixed{bottom: 0; padding-bottom: 0px;}
.ui-header-fixed{top: 0px;padding-top: 0px;}

/* GENERAL */
.left{float: left;}
.right{float: right;}
.inline{display: inline !important;}
.clear{clear: both;}
.empty{font-family: NeogreyMedium;text-align: center;color: #fc049b;text-shadow: 1px 1px 1px #000;font-size: 15px;font-weight: bold;padding: 10px 0;}
.ui-page.custom{background: url("../img/bg_wrapper.jpg") repeat-y scroll 0 0 transparent;background-size: 100% 100%;}
.ui-page.custom .ui-page{background: transparent;}

/* PAGE */
/*.ui-page-theme-a .ui-btn.ui-btn-active, */.ui-page-theme-a .content_options .ui-btn:hover{background: url("../img/bg_button.png") repeat scroll 0 0 transparent;color: #fc027e;border: 1px solid #4f4f4f;}
.ui-page{font-family: NeogreyMedium;}
.ui-page p.text{text-align: center;text-shadow: 0 0 0;color: #fff;font-weight: normal;font-size: 21px;letter-spacing: 1px;}
.ui-page .ui-header{z-index: 10;}

/* CONTENT */
.ui-content {padding: 0;}
.ui-content .ui-listview{overflow: hidden;margin: 0 auto;}

/* BUTTOM */
.ui-btn.custom{background: url("../img/bg_button.png") repeat scroll 0 0 transparent;color: #fc027e !important;border-radius: 30px;line-height: 25px;text-shadow: 0px 1px 0px #616161 !important;font-family: NeogreyMedium;font-size: 25px;border: 1px solid #4f4f4f !important;}
.ui-btn.custom:hover{color: #f723a5;text-shadow: -1px 2px 0px #616161;}
.ui-btn-icon-left.castellano:after{background: url("../img/bg_castellano.png") no-repeat scroll 0 0 transparent;background-size: 55px;background-position: 50%;}
.ui-btn-icon-left.ingles:after{background: url("../img/bg_ingles.png") no-repeat scroll 0 0 transparent;background-size: 55px;background-position: 50%;}
.ui-btn-icon-left.custom:after{margin-top: -27px;margin-left: -10px;width: 50px;height: 50px;-webkit-border-radius: 2em;border-radius: 2em;border: 2px solid #fff;box-shadow: 2px 1px 3px #000;}

/* LOGO */
.logo.ui-title{margin: .4em 38% .0em;white-space: normal;padding-top: 0;margin-top: 0;}
.logo.ui-title img{width: 100%;height: auto;}

/* MENU OPTION */
.ui-controlgroup.custom{margin: 0;}
.ui-controlgroup.custom .ui-controlgroup-controls{overflow: hidden;}
.ui-controlgroup.custom .ui-controlgroup-controls a{font-family: NeogreyMedium;color: #ffffff;font-size: 14px;font-weight: normal;text-shadow: 0 0 0;}
.ui-controlgroup.custom .ui-controlgroup-controls .ui-btn-icon-top{padding-top: 5.8em;padding-left: 0;padding-right: 0;padding-bottom:0;width: 93px;border: none;margin-top: -5px;background: url("../img/bg_item_menu.png") no-repeat scroll left bottom transparent;background-size: 110px;}
.ui-controlgroup.custom .ui-controlgroup-controls .ui-btn-icon-top:after{left: 45%;margin-left: -30px;width: 70px;height: 70px;}
.ui-controlgroup.custom .ui-controlgroup-controls .ui-btn-icon-top.icon_clubs:after{background: url("../img/bg_clubs.png") no-repeat scroll 0 0 transparent;background-size: 70px;background-position: 0;}
.ui-controlgroup.custom .ui-controlgroup-controls .ui-btn-icon-top.icon_sesiones:after{background: url("../img/bg_sesiones.png") no-repeat scroll 0 0 transparent;background-size: 70px;background-position: 0;}
.ui-controlgroup.custom .ui-controlgroup-controls .ui-btn-icon-top.icon_pubs:after{background: url("../img/bg_pubs.png") no-repeat scroll 0 0 transparent;background-size: 70px;background-position: 0;}
.ui-controlgroup.custom .ui-controlgroup-controls .ui-btn-icon-top.icon_beach:after{background: url("../img/bg_beachclubs.png") no-repeat scroll 0 0 transparent;background-size: 70px;background-position: 0;}
.ui-controlgroup.custom .ui-controlgroup-controls .ui-btn-icon-top.icon_festivales:after{background: url("../img/bg_festivales.png") no-repeat scroll 0 0 transparent;background-size: 70px;background-position: 0;}
.ui-controlgroup.custom .ui-controlgroup-controls .ui-btn-icon-top.icon_dj:after{background: url("../img/bg_djs.png") no-repeat scroll 0 0 transparent;background-size: 70px;background-position: 0;}
.ui-controlgroup.custom .ui-controlgroup-controls .ui-btn-icon-top.icon_tickets:after{background: url("../img/bg_tickets.png") no-repeat scroll 0 0 transparent;background-size: 70px;background-position: 0;}
.ui-controlgroup.custom .ui-controlgroup-controls .ui-btn-icon-top.icon_calendario:after{background: url("../img/bg_calendario.png") no-repeat scroll 0 0 transparent;background-size: 70px;background-position: 0;}
.ui-controlgroup.custom .ui-controlgroup-controls .ui-btn-icon-top.icon_alertas:after{background: url("../img/bg_alertas.png") no-repeat scroll 0 0 transparent;background-size: 70px;background-position: 0;}
.ui-controlgroup.custom .ui-controlgroup-controls .ui-btn-icon-top.icon_ciudades:after{background: url("../img/bg_ciudades.png") no-repeat scroll 0 0 transparent;background-size: 70px;background-position: 0;}
.ui-controlgroup.custom .ui-controlgroup-controls .ui-btn-icon-top.icon_idioma:after{background: url("../img/bg_idioma.png") no-repeat scroll 0 0 transparent;background-size: 70px;background-position: 0;}
.ui-controlgroup.custom .ui-controlgroup-controls .ui-btn-icon-top.icon_promos:after{background: url("../img/bg_promos.png") no-repeat scroll 0 0 transparent;background-size: 70px;background-position: 0;}

/* NAVIGATION HEADER */
.ui-header.navegacion{box-shadow: 0px 3px 3px #575759;}
.ui-header ul{padding: 0 10px;overflow: hidden;}
.ui-header ul{background: #161618;}
.ui-header ul.menu{background: transparent;}
.ui-header ul li{float: left;}
.ui-header a{border-radius: 0 0 0 0;margin-bottom: 8px;-moz-box-shadow: 0px 0px 0px rgba(0,0,0,.2);-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,.2); height: 24px;width: 16px;border: 0;box-shadow: none;text-indent: -99999px;}
.ui-header .menu a{margin-top: 18px;}
.ui-header .back{float: left;}
.ui-header .menu .back{width: 30%;}
.ui-header .back .volver{background: url("../img/bg_volver.png") no-repeat scroll center top transparent; background-size:40px;}
.ui-header .back .info, .ui-header .setting .info{background: url("../img/bg_info.png") no-repeat scroll center top transparent; background-size:40px;}
.ui-header .page{text-align: center;width: 72%;margin-top: 0.5em;color: #fff;font-size: 20px;text-shadow: 0 0 0;}
.ui-header .menu .page{margin-top: 0;width: 40%;font-size: 0px;}
.ui-header .page img{width: 74px;}
.ui-header .setting{float:right}
/*.ui-header .menu .setting a{margin-top: 25px;}*/
.ui-header .setting .search{background: url("../img/bg_search.png") no-repeat scroll center top transparent; background-size:30px;}
.ui-header .setting .perfil{background: url("../img/bg_perfil.png") no-repeat scroll center top transparent; background-size:30px;}
.ui-header .setting .menu{background: url("../img/bg_menu.png") no-repeat scroll center top transparent; background-size:40px;}
.ui-header .setting .como_funciona{background: url("../img/bg_como_funciona.png") no-repeat scroll center top transparent; background-size:40px;}
.ui-header.ui-bar-inherit{background: transparent;border: none;overflow: hidden;}

/* NAVIGATION FOOTER */
.ui-footer{border: none;background: url("../img/bg_footer.jpg") repeat-x scroll center top transparent;}
.ui-footer ul{border-top: 2px solid #f51fa2;}
.ui-footer ul a{background-color: transparent !important;color: #fff !important;text-shadow: 0 0 0 !important;font-size: 13px !important;padding-top: 40px;border:0;padding-bottom: 2px !important;}
.ui-footer ul a.ui-btn-icon-top:after{background-size: 34px;background-position: 50% 50%;width: 32px;height: 32px;margin-left: -15px;box-shadow: 2px 1px 3px #000;border: 2px solid #fff;border-radius: 2em;-webkit-border-radius: 2em;}
.ui-footer ul.alertas a.ui-btn-icon-top:after{border: none;}
.ui-footer ul a.ui-btn-icon-top.ui-btn-active-a{color: #fc039b !important;}
.ui-footer ul a.f1:after{background: url("../img/navegacion/1.jpg") no-repeat scroll 0 0 transparent;background-size: 31px;background-position: 50% 50%;width: 32px;height: 32px;margin-left: -15px;}
.ui-footer ul a.f2:after{background: url("../img/navegacion/2.jpg") no-repeat scroll 0 0 transparent;background-size: 31px;background-position: 50% 50%;width: 32px;height: 32px;margin-left: -15px;}
.ui-footer ul a.f3:after{background: url("../img/navegacion/3.jpg") no-repeat scroll 0 0 transparent;background-size: 31px;background-position: 50% 50%;width: 32px;height: 32px;margin-left: -15px;}
.ui-footer ul a.f4:after{background: url("../img/navegacion/4.jpg") no-repeat scroll 0 0 transparent;background-size: 31px;background-position: 50% 50%;width: 32px;height: 32px;margin-left: -15px;}

/* NAVIGATION OPTIONS */
.ui-navbar .nav_options a.ui-btn{font-family: windows_objectregular;color: #fc027e;font-size: 16px;font-weight: normal;text-shadow: 0 0 1px #000;margin-top: -2px;}
.ui-navbar .nav_options .ui-btn-icon-top{padding-top: 3em;padding-left: 0;padding-right: 0;padding-bottom:0;background: transparent;border: none;}
.ui-navbar .nav_options .ui-btn-icon-top:after{left: 44%;margin-left: -15px;width: 41px;height: 41px;}
.ui-navbar .nav_options .ui-btn-icon-top.icon_mapa:after{background: url("../img/bg_ciudades.png") no-repeat scroll 0 0 transparent;background-size: 40px;background-position: 0;}
.ui-navbar .nav_options .ui-btn-icon-top.icon_tickets:after{background: url("../img/bg_tickets.png") no-repeat scroll 0 0 transparent;background-size: 40px;background-position: 0;}
.ui-navbar .nav_options .ui-btn-icon-top.icon_sesiones:after{background: url("../img/bg_sesiones.png") no-repeat scroll 0 0 transparent;background-size: 40px;background-position: 0;}
.ui-navbar .nav_options .ui-btn-icon-top.icon_alertas:after{background: url("../img/bg_alertas.png") no-repeat scroll 0 0 transparent;background-size: 40px;background-position: 0;}
.ui-navbar .nav_options .ui-btn-icon-top.icon_promos:after{background: url("../img/bg_promos.png") no-repeat scroll 0 0 transparent;background-size: 40px;background-position: 0;}
.ui-navbar .nav_options li{position: relative;}
.ui-navbar .nav_options li span.numero{position: absolute;top: 0;right: 10px;color: #fc027e;text-shadow: 1px 1px 1px#000;}

/* CONTENT OPTIONS */
.content_options{padding: 0 15px;}
.content_options.lista a{padding-top: 4px;padding-bottom: 4px;padding-right: 10px;}
.content_options.lista a span.bg{background: url("../img/bg_arrow_prev.png") no-repeat scroll right center transparent;background-size: 45px;min-height: 50px;}
.content_options.lista a span.bg.title, .content_options.lista a span.bglista.title{white-space: normal;padding-right: 35px;height: 34px;padding-top: 8px;padding-bottom: 8px;min-height: 34px;overflow: hidden;line-height: 40px;}
.content_options.lista span{display: block;font-size: 17px;line-height: 18px;text-align: left;text-shadow: 0px 0px 0px;font-family: NeuropoliticalRg-Regular;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.content_options.lista span.title{width: 85%;}
.content_options.lista span.subtitle{font-size: 14px;color: #fff;width: 80%;font-family: NeogreyRegular;}
.content_options.lista span.km{font-size: 17px;padding-left: 16px;background: url("../img/bg_mapa.png") no-repeat scroll left top transparent;background-size: 14px;font-family: HelveticaLTStdLight;color: #fc039b;}
.content_options.lista span.euro{font-size: 17px;padding-left: 16px;background: url("../img/bg_euro.png") no-repeat scroll left center transparent;background-size: 16px;margin-left: 15px;font-family: HelveticaLTStdLight;color: #fc039b;}
.content_options.lista .ui-btn-icon-left.pub1:after{background: url("../img/pubs/item.png") no-repeat scroll 0 0 transparent;background-size: 55px;background-position: 50%;}
.ui-btn-icon-left.item:after{background-size: 55px !important;background-position: 50% !important;}

.content_options.lista a span.bglista{float: left;width: 60%;padding-right: 0px !important;}

/* VIEW */
#view .texto {color: #000;text-shadow: 0 0 0;text-align: center;border-bottom: 1px solid #e3e3e3;font-size: 18px;padding: 15px 20px;letter-spacing: -1px;font-family:'century_gothicregular';line-height: 23px;}
#view .content_options{padding: 70px 15px;}

/* CIUDADES */
#ciudades .owl-carousel{height: 100%;position: absolute;top: 0;}
#ciudades .owl-wrapper-outer{height: 100%;}
#ciudades .owl-carousel .ciudad{padding-top: 408px;padding-bottom: 20px;}
#ciudades .owl-carousel .ciudad span{text-align: center;text-shadow: 0 0 0;color: #fc039b;font-size: 35px;letter-spacing: 1px;display: block;font-weight: normal;}
#ciudades .owl-theme .owl-controls{position: relative;margin-top: -30px;}

/* MENU */
#menu .ui-content{padding: 0 20px;}

/* CLUBS */
#clubs .ui-listview li{border-bottom: 10px solid #fc049b;background: #fff;min-height: 85px;}
#clubs .ui-listview li a{display: block;text-align: center;padding-top: 5px;}
#clubs .ui-listview li img{width: 220px;}

/* DJS */
#djs .content_options.lista a.item, #alertas .content_options.lista a.item{margin: 4px 0;}
#alertas .content_options.lista .ui-slider{top: 2px !important;height: 34px !important;border-radius: 20px;border: 1px solid #aaa;}
#alertas .ui-slider-switch.ui-mini .ui-slider-label{line-height: 35px;text-align: inherit;font-family: inherit;}
#alertas .ui-slider-switch.ui-mini .ui-slider-handle{margin-top: 3px;border-radius: 20px;}

/* CONTENT DESCRIPCION */
.ui-content .content_top{padding: 40px 0 0;overflow: hidden;margin: 0 auto;width: 240px;}
.ui-content .content_top .imagen{width: 60px;height: 60px;padding: 0 4px 8px 0;margin-right: 4px;}
.ui-content .content_top .imagen img{width: 100%;height: 100%;display: block;border-radius: 2em;border: 2px solid #fff !important;box-shadow: 2px 1px 3px #000;-webkit-border-radius: 2em;}
.ui-content .content_top .title{margin: 13px 4px;text-shadow: 0 0 0;width: 160px;}
.ui-content .content_top .title h2{font-size: 18px;line-height: 28px;color: #fc039b;padding-top: 0;width: 100%;overflow: hidden;white-space: nowrap;font-family: NeuropoliticalRg-Regular;letter-spacing: -1px;text-overflow: ellipsis;}
.ui-content .content_top .title a{color: #fff;font-size: 16px;padding-right: 35px;display: block;line-height: 18px;font-family: NeogreyRegular;}
.ui-content .content_top .title a.up{background: url("../img/arrow_top.png") no-repeat scroll right bottom transparent;background-size: 30px;}
.ui-content .content_top .title a.down{background: url("../img/arrow_bottom.png") no-repeat scroll right bottom transparent;background-size: 30px;}
.ui-content .content_top .title a.sub{padding-right: 0;}
.ui-content .content_middle{margin: 0 10px;background: url("../img/bg_button.png") repeat scroll 0 0 transparent;border-radius: 40px;border: 1px solid #4f4f4f;padding: 18px 20px 10px;color: #fff;margin-top: -16px;}
.ui-content .content_middle p{line-height: 18px;text-shadow: 0 0 0;font-size: 13px;font-family: NeogreyRegular;}
.ui-content .content_middle p.descripcion{overflow-x: auto;height: 178px;}
.ui-content .content_middle b{color: #fc039b;text-shadow: 0 0 0;}
.ui-content .content_middle .mas_informacion{padding-top: 10px;}
.ui-content .content_middle .mas_informacion p{text-align: left;font-size: 13px;font-family: HelveticaLTStdLight;letter-spacing: 0;text-shadow: 0 0 0;}
.ui-content .content_bottom{padding: 0 25px;}
.ui-content .custom .content_middle, .ui-content .custom2 .content_middle, .ui-content .custom3 .content_middle{padding-bottom: 18px;}
.ui-content .custom .content_bottom{padding: 0 65px;}
.ui-content .custom2 .content_bottom{padding: 0 100px;}
.ui-content .custom3 .content_bottom{padding: 0 125px;}
.ui-content.slider .owl-theme .owl-controls{position: absolute;top: 0;width: 100%;}
.ui-content.slider .owl-theme .owl-pagination {overflow: hidden;height: 20px;}
.ui-content.slider .owl-theme .owl-controls .owl-page span{width: 8px;height: 8px;margin: 0px 2px;}

/* SESIONES */
#sesiones .ui-listview li h2{margin: 0;text-align: center;background: #fc049b;text-shadow: 0 0 0;font-size: 20px;line-height: 20px;padding: 4px 0;color: #fff;font-weight: normal;}
#sesiones .ui-listview li a{display: block;text-align: center;}
#sesiones .ui-listview li img{width: 100%;min-width: 320px;max-height: 320px;display: block;}

/* CALENDARIO */
.contenedor_calendario div.hasDatepicker{margin: 0 0 4px 0;}
#tickets.content_options.lista{padding: 0 5px;}
#tickets.content_options.lista a{margin: 5px 0;min-height: 50px;}

/* TICKET DETALLE */
.ticket_detalle{margin-top: 25px !important;overflow: hidden;}
.ticket_detalle .imagen{width: 70px;height: 70px;}
.ticket_detalle .imagen img{width: 100%; height: 100%; display: block;-webkit-border-radius: 3em;border-radius: 3em;border: 2px solid #fff;box-shadow: 2px 1px 3px #000;}
.ticket_detalle .descripcion{width: 65%;}
.ticket_detalle .descripcion h2{font-size: 34px;text-shadow: 1px 1px 0px #000;line-height: 30px;}
.ticket_detalle .descripcion h3{color: #fc049b;font-size: 22px;text-shadow: 1px 1px 0 #000;}
.ticket_detalle .descripcion .sesion span{display: block;font-family: NeogreyRegular;font-size: 15px;text-shadow: 0 1px 1px #000;}
.ticket_detalle .descripcion .sesion span.djs{padding: 5px 0;}
.ticket_detalle .resultado {margin: 8px 0; font-family: windows_objectregular;}
.ticket_detalle .resultado .operaciones span{display: block;font-size: 12px;text-align: center;}
.ticket_detalle .resultado .operaciones span.numero, .ticket_detalle .resultado .operaciones span.total{font-size: 24px;}
.ticket_detalle .resultado .divisores{width: 15px;padding: 7px 5px;text-align: center;padding: 4px 5px;}
.ticket_detalle .resultado .divisores a{display: block;color: #fff;font-size: 26px;text-shadow: 0 0 0;font-family: arial;}
.ticket_detalle .descripcion .bg_redondo{background: url("../img/bg_ticket_datos.png") no-repeat scroll left top transparent;height: 55px;background-size: 70px;width: 50px;padding: 10px;}
.ticket_detalle .descripcion .sesion span.precio{padding-left: 24px;background: url("../img/bg_euro.png") no-repeat scroll left top transparent;background-size: 18px;color: #fc049b;text-shadow: 0 0 0;font-size: 15px;}
.ticket_detalle .descripcion .comprar a{color: #fff;font-size: 20px;text-shadow: 0 1px 0 #000;background: #fc049b;display: block;text-align: center;padding: 5px;font-family: NeogreyRegular;}

/* GOOGLE MAP */
#google_map { height: 100% }
#google_map .ui-content { height: 100%; padding: 0; margin-top: 0px;margin-bottom: 0px;}
#google_map #map_canvas { height: 100% }

/* POPUP */
.container_popup{margin: 20px;min-width: 410px;}

/* VENTA TICKET */
#venta_ticket .wrap {width: 320px;height: 746px;padding: 0;margin:0;overflow: hidden;}
#venta_ticket .frame {width: 980px;height: 100%;min-height: 2279px;border: 0;-ms-transform: scale(0.328);-moz-transform: scale(0.328);-o-transform: scale(0.328);-webkit-transform: scale(0.328);transform: scale(0.328);-ms-transform-origin: 0 0;-moz-transform-origin: 0 0;-o-transform-origin: 0 0;-webkit-transform-origin: 0 0;transform-origin: 0 0;}

/* SCROLL */
.endless_scroll_content{padding-top: 50px;}
.endless_scroll_content .content_options.lista{padding-bottom: 50px;}
.endless_scroll_loader { position: fixed; bottom: 0; left: 40%; }

/* PORTRAIT IPHONE 5 */

@media only screen 
and (min-height : 568px)
and (min-width: 320px) 
and (max-width: 568px) 
{
    .ui-controlgroup.custom .ui-controlgroup-controls .ui-btn-icon-top{margin-top:0px}
    
}